body {
  margin: 0;
  padding: 0;
  /* background-color: #ecebf3; */
  font-family: "Cabin", sans-serif;
  /* font-family: 'Old Standard TT', serif; */
}

.post-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gutter {
  margin-left: 5%;
  margin-right: 5%;
}

.background-photo {
  height: 100vh;
  /* width: 100vw; */
  background-image: url("./images/landscape-photography-of-mountains-covered-in-snow-691668.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#header-nav {
  background-color: rgb(255, 255, 153, 0);
}

.outer {
  position: relative;
  margin-top: 20px;
}

.top {
  position: absolute;
  margin-top: -10px;
  background-color: green;
}

.bot {
  position: absolute;
  background-color: yellow;
}

.background-1 {
  background-color: aqua;
}

.background-2 {
  background: url("https://wallpapercave.com/wp/wp2729921.gif");
  /* background: url("https://i.imgur.com/0mHuKzD.gif?noredirect"); */
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: none;
  width: 80vw;
  left: 10%;
  height: 40vh;
  overflow: auto;
  background: rgba(black, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}

#gif-background {
  background: url("https://i.imgur.com/BoloeNc.gif");
  /* background: url("https://i.imgur.com/0mHuKzD.gif?noredirect"); */
  height: 100%;
  background-repeat: no-repeat;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#responsive-columns {
  text-align: center;
  border: thick double #32a1ce;
}

.gutter2 {
  margin-top: 25px;
  padding-right: 10%;
  padding-left: 10%;
}

#header3 {
  background-color: yellow;
  text-align: center;
  border: thick double #32a1ce;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.layout-copy {
  font-size: 25px;
  font-weight: bold;
}

.photo-group {
  text-align: center;
  margin-top: 25px;
}

.footer {
  height: 25vh;
  background-color: black;
  margin-top: 5rem;
}

/* css for nav */

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.nav-body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.main {
  margin-left: 5rem;
  padding: 1rem;
  height: 150vh;
}

.fnav {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
}

.icon-size {
  font-size: 45px;
  color: white;
}

.fnav-navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fnav-navbar:hover {
  width: 16rem;
}

.fnav-navbar:hover .link-text {
  display: block;
}

/* copy paste sliding nav */

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #fc466b;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #fc466b 0%, #3f5efb 100%);
}
.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.medium-hero {
  background-image: url("https://cdn.pixabay.com/photo/2017/09/09/18/25/living-room-2732939_960_720.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  /* background-size: cover; */
  height: 25em;
}

.about-container {
  margin-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.contact-me {
  margin-top: 5rem;
}

/* current css */

#modified-nav {
  /* margin-left: 10%;
  margin-right: 10%; */
  margin: 0 0;
  padding: 1.5rem 10%;
  background-color: rgb(255, 255, 153, 0);
  font-size: 1.2rem;
}

#nav-center {
  padding: 0 5em;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card {
  margin-top: 10px;
}

.custom-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.custom-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://cdn.pixabay.com/photo/2021/02/27/07/15/poppy-6053845_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* filter: brightness(60%); */
}
.hero-content {
    position: relative;
}

.absolute-item {
  position: absolute;
  top: -10%;
  right: 10%;
}

.thelastheader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 4em 0em;
}

.thelastheader-item {
  font-size: 1em;
  padding-left: 2.4%;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
}

.flex-child:first-child {
    margin-right: 20px;
}

.flex-again {
  display: flex;
  justify-content: flex-end;
}

.header-logo {
  font-family: 'Yellowtail', cursive;
  color: "white";
  font-size: x-large;
}

.hero-image {
  background: url('https://cdn.pixabay.com/photo/2016/11/30/12/29/bicycle-1872682_960_720.jpg') no-repeat center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

/* @media (max-width: 768px) {
  background: url('my-mobile-hero-image.jpg') no-repeat center top;
} */

.contact-form-border {
  margin: 2.5% 15%;
}

#little-space {
  margin-right: 2em;
}